.ui-page {
    background: white !important;
}
.ui-content {
    padding: 5 !important;
    background: white !important;    
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e4e4e4), color-stop(0.2, #e4e4e4), color-stop(0.2, #dddddd));
  background-size: 7px 10px;
  color: #000;
}

header {
  padding: 5px 0;
  border-top: solid 1px #bec5cf;
  border-bottom: solid 1px #3f4e63;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #acb9c9), color-stop(0.5, #8395af), color-stop(0.5, #7388a5), color-stop(1, #7488a1));
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #434b57;
  text-align: center;
}

#contents {
  padding: 0px;
}

.outline {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: inline-block;
    border-radius: 4px;
    text-shadow: 0px 0px 1px #FFFFFF;
    border: 0px solid #FFFFFF;
    background-color: #DDDDDD;
    padding: 4px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;
    line-height: 18px;
    color: #000000;
    text-align: left;
}

.box1 {
  display: inline-block;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  border: solid 2px #666;
  border-bottom: none;
  padding: 10px;
  line-height: 30px;
  margin:4px 4px 0 4px;
}
.box2 {
  display: inline-block;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border: solid 2px #666;
  border-top: solid 1px #ccc;
  padding:10px;
  text-align: left;
  line-height: 30px;
  margin:0 4px 4px 4px;
}
.box3 {
  display: inline-block;
  background-color: #ffe;
  border-radius: 4px;
  border: solid 1px #666;
  padding:4px;
  text-align: left;
  line-height: 6px;
  margin:4px;
}
.input-text {
  font-size: 12px;
  height: auto;
  float: right;
}
.textbox {
  display: inline-block;
  background-color: #fff;
  border-radius: 4px;
  padding:4px;
  text-align: left;
  line-height: 14px;
  font-size : 12px;
  margin:2px 0px 4px 0px;
}

#ResultMessage {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #CCC;
}
 
/* ボタンのスタイル */
.button {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #806580;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}


div.check-group input {
    display: none;
}

div.check-group label {
    font-size: 10pt;
    margin:2px;
    cursor: pointer;
    padding: 5px 10px;
    border: solid 1px #aaa;
    margin-left: -1px;
    background: #eee;
    display: inline-block;
    border-radius:4px;
    line-height:12px;
}
div.check-group input:checked+label {
    color: #fff;
    background: #C3C3C3;
}

